<!-- <form class="new-post" action="/posts" method="post"> -->
<!-- <div class="post-field"> -->
<!-- <label>Title: </label> <br/> -->
<!-- <input type="text" name="title"> -->
<!-- </div>  -->

<!-- <div class="post-field"> -->
<!-- <label>Content: </label> <br/> -->
<!-- <input type="textarea" name="content"> -->
<!-- </div> -->

<!-- <button type="submit">Create Post!</button> -->
<!-- </form> -->

<!-- rails knows to come here from new method in posts_controller from 'new' -->
<%=  form_tag(posts_path) do %>
        <!-- forms default to: method: :post -->
        <!--form_tage method helps create dynamic html
         form_tag takes argument for where data goes
                                posts_path- fuses route for where the data goes
                              **path helpers gerate path, not what verb is used when request is sent**-->
    <div class="post-field">
        <%= label_tag("Title: ") %> <br/>
                       <!-- ^^params["title"] in create method in posts_controller -->
        <%= text_field_tag("title") %>
    </div>

    <div class="post-field">
        <%= label_tag("Content: ") %> <br/>
        <%= text_area_tag("content") %>
    </div>

    <%= button_tag("Create Post!") %>
<% end %>
